* {
    box-sizing: border-box; 
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
        *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Poppins', sans-serif;
        }
        /* custom scroll bar */
        ::-webkit-scrollbar {
            width: 10px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
        ::selection{
          background: #881c1c;
        }
        .content {
          max-width: 1250px;
          margin: auto;
          padding: 0 30px;
      }
      
      .navbar {
          width: 100%;
          z-index: 2;
          padding: 20px 0;
          background: #881c1c;
          transition: all 0.3s ease;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      
      .navbar.sticky {
          background: #881c1c;
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
      }
      
      .menu-list {
          list-style: none;
          display: flex;
          align-items: center;
          gap: 20px;
          margin-right: 60px;
          margin-top: 10px;
      }
      
      .menu-list li a {
          color: #fff;
          font-size: 30px;
          font-weight: 500;
          text-decoration: none;
          transition: all 0.3s ease;

      }
      
      .menu-list li.divider::before {
          content: " | "; /* Add a divider line */
          color: #fff;
          font-size: 30px;
      }
      
      .menu-list li a:hover {
          color: #ff4400;
      }
      
      .logo {
          font-size: 24px;
          display: flex; /* Added display property */
          align-items: center; /* Center items vertically */
      }
      
      .search-bar {
          display: flex; /* Added display property */
          align-items: center; /* Center items vertically */
          width: 50%;
      }
      
      .search-bar input {
          padding: 10px;
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 5px;
          outline: none;
          font-size: 16px;
      }
      
      .nav-image {
          width: 200px; /* Adjust the width as needed */
          height: auto;
      }  

      .back-btn {
        font-size: 24px;
        margin-right: 10px; /* Adjust as needed */
        color: #fff; /* Change the color of your back button */
        cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
    }
    
    .line-divider {
      display: block; /* Change the display property to block */
      height: 60px; /* Set the height of the line divider */
      background: #fff; /* Set the background color of the line divider */
      margin: 0 10px;
      color: #fff;
      
    }
    
    .info-text {
        color: #fff; /* Change the text color */
        font-size: 30px; /* Adjust the font size as needed */
        flex-grow: 1;
        text-align: left;
    }
      
      
        .banner{
          background: url("assets/img/CEAFA-3D.jpg") no-repeat;
          height: 100vh;
          background-size: cover;
          background-position: center;
          background-attachment: fixed;
          align-items: center;
          
        }
        
        .about{
          padding: 30px 0;
        }
        .about .title{
          font-size: 38px;
          font-weight: 700;
        }
        .about p{
          padding-top: 20px;
          text-align: justify;
        }
        .icon{
          color: #fff;
          font-size: 20px;
          cursor: pointer;
          display: none;
        }
        .menu-list .cancel-btn{
          position: absolute;
          right: 30px;
          top: 20px;
        }
        @media (max-width: 1230px) {
          .content{
              padding: 0 60px;
          }
        }
        @media (max-width: 1100px) {
          .content{
              padding: 0 40px;
          }
        }
        @media (max-width: 900px) {
          .content{
              padding: 0 30px;
          }
        }
        @media (max-width: 868px) {
          body.disabled{
              overflow: hidden;
          }
          .icon{
              display: block;
          }
          .icon.hide{
              display: none;
          }
          .navbar .menu-list{
              position: fixed;
              height: 100vh;
              width: 100%;
              max-width: 400px;
              left: -100%;
              top: 0px;
              display: block;
              padding: 40px 0;
              text-align: center;
              background: #222;
              transition: all 0.3s ease;
          }
          .navbar.show .menu-list{
              left: 0%;
          }
          .navbar .menu-list li{
              margin-top: 45px;
          }
          .navbar .menu-list li a{
              font-size: 23px;
              margin-left: -100%;
              transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }
          .navbar.show .menu-list li a{
              margin-left: 0px;
          }
        }
        @media (max-width: 380px) {
          .navbar .logo a{
              font-size: 100px;
          }
        }
          
  body {
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
    
  }
  .conts{
    margin-top: 20px;
  }
  .screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .search-form {
    width:20%;
    float: left;
    padding-right: 20px;
  }
  .search-term {
    width: 100%;
    margin: 0 0 5px 0;
  }
  .search-terms {
    display: table;
    margin: 0 0 10px 0;
  }
  .search-filters {
    overflow: hidden;
    margin: 0 0 10px 0;
    background: #eee;
    padding: 10px;
  }
  .search-filters-title {
    font-weight: normal;
    font-size: 1em;
    margin: 0 0 10px 0;
  }
  .filter-group {
    margin: 0 0 10px 0;
  }
  .cloned-filters {
    display: none; 
  }
  .search-results {
    width: 80%;
    float: right;
    padding-bottom: 2500px; /* just scrolling space */
  }
  .result {
    float: left;
    background: #eee;
  }
  .result:nth-child(4n) {
    margin-right: 0; 
  }
  
  
  @media (max-width: 1000px) {
    body {
      width: 100%;
    }
  }
  
  @media (max-width: 600px) {
    body,
    .search-form,
    .search-results {
        
        align-items: center;
        align-content: center;
      width:100%;
    }
    .result{
        z-index: 0;
        margin:50px;
    }
    .search-form {
      padding: 0;
    }
    .search-terms {
      display: table;
      width: 100%;
      margin: 0;
    }
    .search-terms > div {
      display: table-row; 
    }
    .search-terms > div > span {
      display: table-cell;
    }
    .search-term-wrap {
      padding-right: 10px;
    }
    .search-button {
      width: 100%;
    }
    .search-filters-title {
     
      color: #881c1c;
      font-weight: bolder;
      text-decoration: none;
      width: 50%;
      cursor: pointer;
      margin: 0;
    }
    .search-filters.pinned {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.2);
    }
    .filter-group {
      display: none;
    }
    .filter-explanation {
      display: none;  
    }
    
    .filters-open .filter-group,
    .filters-open .filter-explanation {
      display: block; 
    }
    .filters-open .search-filters-title {
      margin: 0 0 10px 0;
    }
  }

  /*slider*/

  .wrapper {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}
header h2 {
  font-size: 24px;
  font-weight: 600;
}
header p {
  margin-top: 5px;
  font-size: 16px;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 15px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.container4 {
  position: relative;
  background-color: hsla(249, 17%, 92%, 0.913);
  border: 2px solid hsla(0, 0%, 0%, 0.75);
  margin: 1.5rem auto; /* Adjust margin as needed */
  backdrop-filter: blur(2px);
  border-radius: 1rem;
  padding: 20px;
  max-width: 60%; /* Adjust the maximum width as needed */
  text-align:left; /* Center text content */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Correct the box-shadow syntax */
}

.dropdown-menu {
  min-width: 120px;
  height: auto;
  left: 0;
  right: auto;
  transform: translateX(-50%);
 }
 
 .dropdown-menu li a {
  font-size: 18px;
  color: black;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
 }
 
 .dropdown-menu li a:hover {
  background-color: #f5f5f5;
 }

 .form-group {
  margin-bottom: 15px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.breadcrumb {
  padding: 20px;
  background-color: #fff;
  font-size: 20px;
}

.breadcrumb a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

